<header>
        <div class="wave" style="height: 220px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
</header>
<link rel="stylesheet" href="/css/games.css">


  <div class="row mt-5 ">
        <div class="col-lg-12 col-md-12 ">
            <div class="card contor">
                <div class="card-body interior">
                    <h3 class="text-center ">Edita la Información del juego</h3>
                    <hr>
                    <div class="borI mt-2">
                        <form action="/games/edit-game/{{game._id}}?_method=PUT" method="POST">
                          <input type="hidden" name="_method" value="PUT" >
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Nombre del juego:</label>
                                    <input type="text" name="title" class="form-control" autofocus value="{{game.title}}">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Ruta del juego </label>
                                    <input type="text" name="enlace" class="form-control" value="{{game.enlace}}">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Ruta de la imagen:</label>
                                    <input type="text" name="photo" class="form-control" value="{{game.photo}}">
                                </div>
                                {{!-- <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Asunto:</label>
                                    <input type="text" name="affair" class="form-control" placeholder="Asunto">
                                </div> --}}
                                 <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Objetivo:</label>
                                    <input type="text" name="objetivo" class="form-control" value="{{game.objetivo}}" >
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Desafío:</label>
                                    <input type="text" name="desafio" class="form-control" value="{{game.desafio}}">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Tecla:</label> <br>
                                    <select style="width: 100%; height: 50%;"  class="form-select col-lg-6 col-md-12 col-sm-12" name="tecla"  >
                                    <option selected> </option>
                                    <option value="times"> times</i> </option>
                                    <option value="check"> check</i> </option>
                                    {{!-- <option value="3">Three</option> --}}
                                </select>
                                    {{!-- <input type="text" name="tecla" class="form-control" value="{{game.tecla}}"> --}}
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Sinopsis:</label> 
                                    <textarea name="sipnosis" rows="3" class="form-control" placeholder="Sipnosis">
                                        {{game.sipnosis}}
                                    </textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Descripción:</label> 
                                    <textarea name="description" rows="3" class="form-control" >
                                        {{game.description}}
                                    </textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button class=" btn btn-outline-info btn-block enviar">
                                    Actualizar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
