<header>
        <div class="wave" style="height: 220px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
</header>
<link rel="stylesheet" href="/css/games.css">

<div class="row">
    <div class="col">
    <hr>
    <h3 class="text-center">
        Emails
    </h3>
    <hr>

    </div>
</div>


<div class="row mb-4 mt-1">
     {{#each email}}
    <div class="mt-4 col-lg-6">
        <div class="card contor ">
            <h5  style="background: none;" class="card-header text-center"> <b> {{fullname}} </b> </h5>
            <div class="card-body">
                <h5 class="card-title">{{affair}}</h5>
    
                <p style="text-align: justify;" class="card-text">{{message}}</p>
                <div class="float-left">
                   <i class="fa fa-envelope"></i> <b> Correo:</b>  {{email}}
                </div>
                <div class="float-right">
                    <i class="fa fa-phone"></i> <b>Móvil: </b>  {{phone}}
                </div>
            </div>
            <div style="background: none;" class="card-footer text-muted">
                 <form action="/email/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-outline-danger float-right" type="submit">
                            Eliminar
                        </button>
                    </form>
                {{!-- <a href="#" class="btn btn-outline-danger float-right">Eliminar</a> --}}
                <p class="float-left"> {{date}}</p>
               
            </div>
        </div>
    </div>
    {{else}}
                <div class="card mx-auto">
                    <div class="card-body">
                        <p class="lead">
                            Aun no tienes ningún email!
                        </p>
                      
                    </div>
                </div>
    {{/each}}
</div>


