<header>
        <div class="wave" style="height: 190px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
</header>
{{!-- <link rel="stylesheet" href="/css/about.css"> --}}
<link rel="stylesheet" href="/css/start.css">

<div class="row mb-2">
    <div class="col text-center">
        <h3 class="titulo1">{{games.title}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-1">
        <div class="card">
            <a style="background: none;" href={{games.enlace}}>
            <img style="height: 100%; width: 100%;" src="{{games.photo}}" alt="">
            </a>
        </div>
    </div>

<div class="col-md-6 ">
    <div class="d-inline-flex">

    <div  style="margin-left: -5%;" class="col-md-7">
          <div class="card">
            <ul  class="list-group list-group-flush ">
                <li style="background: none; " class="list-group-item">
                    <h6 > <b> Recomendado en:</b>  <i  class="ml-2 fa fa-desktop"> Pc  </i> </h6>
                </li>
                 <br>
                <div class="mb-4">
                    <i class="ml-3 fa fa-check-circle">   </i>
                    <i class="ml-2 fa fa-laptop"> laptop </i>
                    <i class="ml-2 fa fa-tablet"> tablet  </i>
                    <i class="ml-2 fa fa-mobile"> móvil  </i>
                </div>
            </ul>
        </div>
    </div>
    <div style="margin-left: -5%;" class="col-md-7">
  <div class="card">
            <ul  class="list-group list-group-flush ">
                <li style="background: none; " class="list-group-item">
                   <h6 class=""><b> Entradas: </b> </h6>
                </li>
                 <br>
                <div class="mb-4">
                    <i class="ml-4 fa fa-check-circle"> mouse</i>
                    <i class="ml-2 fa fa-{{games.tecla}}-circle"> tecla</i>
                    <i class="ml-2 fa fa-check-circle"> touch</i>
                </div>
            </ul>
        </div>
    </div>
    </div>
    <div style="margin-left: -1.5%;" class="mt-2 col-md-12">
        <div class="card">
            <h5 class="mt-2 mb-0 ml-3"><b>Objetivo:</b></h5>
            <br>
            <p class="ml-4">{{games.objetivo}}</p>
         </div>
    </div>
</div>

   
    <div class="col-md-12">

    <div class="card-body">

        <h5><b>Sinopsis:</b></h5>
        <br>
        <div style="background: none;  box-shadow: none; border: none;" class="card">
        <p style="text-align: justify; margin-left: 5%;" >{{games.sipnosis}}</p>

        </div>
        
        <h5><b>Desafio:</b></h5>
        <br>
        <p  style= " text-align: justify; margin-left: 5%;">{{games.desafio}}</p>
        </div>
</div>