

{{!-- cuerpo --}}
            <script src="/js/auth.js"></script> 


 <main class="container ladoD ">
        <div class="row " >
            <!-- lado izquierdo  cuerpo -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 conT ">
                <div class="smsTexto text-center">
                    <p style="text-align: justify;">
                        {{!-- Juegos motrices para ñinos, desarrolla habilidades cognitivas aprendiendo.! --}}
                        Juega y refuerza las operaciones básicas con nosostros, acumula puntos y sé el mejor!
                    </p>
                    <!-- <h3 class="text-center"></h3>
                    <h3 class="text-center"></h3> -->
                </div>
                <!-- imagen -->
                <div class="jugador text-center ">
                    {{!-- <img src="/assets/play3.png" alt="jugador"> --}}
                    <img src="/assets/jg.gif" alt="jugador">
                </div>
                <!-- boton de inicio -->
                <div class="btnInicio row ">
                    <div class="col text-center">
                        {{!-- <a href="/start" type="button" class="btn btn-outline-success btn-block text-center "> --}}
                        <a href="/start" type="button" class="btn btn-success btn-block text-center ">
                            Comenzar
                        </a>
                    </div>
                </div>
                <div class="row btnSecundario">

                    <div class="col-sm-12 col-md-6  uno">
                        {{!-- <a href="/users/signin" type="button" class="btn btn-outline-secondary btn-block"> --}}
                        <a href="https://funplay-1589755058633.web.app/inicio" type="button" class="btn btn-secondary btn-block">
                            Estadística
                        </a>
                    </div>
                    <div class="col  dos">
                        {{!-- <a href="/users/signup" type="button" class="btn btn-outline-info btn-block"> --}}
                        <a href="https://funplay-1589755058633.web.app/goty" type="button" class="btn btn-info btn-block">
                            Votaciones
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="o"></p>
                    </div>
                </div>

                <!-- login para google y facebook -->
                <div class="row">
                    <div class="redes-sociales col-12">
                        {{!-- <a class="youtube" href="/google">
                            <i class="fa fa-google"></i>
                        </a> --}}
                        {{!-- <a class="twitter" href="/users/signin" onclick="auth()">
                            <i class="fa fa-user"></i>
                        </a> --}}
                            {{!-- <i class="fa fa-twitter"></i> --}}
                        {{!-- <a class="facebook" href="/auth/facebook">
                            <i class="fa fa-facebook"></i>
                        </a> --}}
                    </div>
                </div>
            </div>

            <!-- lado derecho  cuerpo -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                <div id="capa1" class="ventana">
                    <img class="img1" src="/assets/ventana.png" alt="">
                </div>
                <div id="capa2" class="contorno">
                    <ul>

                        {{!-- <li>
                            <img src="/assets/SeaHorse.png">
                        </li>
                        <li>
                            <img src="/assets/backJack.png">
                        </li>
                        <li>
                            <img src="/assets/lenador.png">
                        </li>
                        <li>
                            <img src="/assets/ninja.png">
                        </li>
                        <li>
                            <img src="/assets/pinguino.png">
                        </li>
                        <li>
                            <img src="/assets/ceresita.png">
                        </li>
                        <li>
                            <img src="/assets/incognito.png">
                        </li> --}}


                        <li>
                            <img src="/assets/SeaHorse.png">
                        </li>
                        <li>
                            <img src="/assets/TicTacToe.png">
                        </li>
                        <li>
                            <img src="/assets/Tom.png">
                        </li>
                        <li>
                            <img src="/assets/lenador.png">
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </main>