<link rel="stylesheet" href="/css/start.css">

 <script src="./js/phaser.min.js"></script>
 <script src="./src/index.js" type="module"></script>


<header>
        <div class="wave" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
</header>

 <div class="row">
     <div class="col text-center">
         <h1 class="titulo1">Elije un Juego</h1>
     </div>
 </div>

 <div class="row mb-4">
     {{#each games}}
     <div class="mt-3 col-md-4">
         <div class="card">
             <a style="background: none;" href="{{enlace}}">
            <img id="Sea horse" src="{{photo}}"  class="card-img-top" alt="Imagen" onclick="">
             </a>
             <h2>Empezar</h2>
            <div class="card-body">
                <a style="background: none; color: black; text-decoration: none;" href="/game/{{_id}}">
                    <p style="text-align: justify;" class="card-text ">
                    {{description}}
                    </p>
                </a>
            </div>

         </div>
         
     </div>
  {{/each}}
 </div>
   


<div class="row mt-4">
     <div class="col center" >
         <div class="ingreso" id="ingreso">
              
        </div>
     </div>
 </div>