* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background: none;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
}

nav ul li a {
    color: #000;
}


/* Header */

header {
    width: 100%;
    height: 300px;
    /* background: #6e1fa3; */
    background: #840094;
    background: -webkit-linear-gradient(to right, hsla(286, 96%, 33%, 0.781), hsla(286, 97%, 27%, 0.664));
    background: linear-gradient(to right, hsla(286, 96%, 33%, 0.781), hsla(286, 97%, 27%, 0.664));
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    margin-top: 0;
    top: 0;
    left: 0;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* About us */

main .sobre-nosotros {
    padding: 0px 0 40px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/* Galeria */

.fondo {
    width: 100%;
    height: 540px;
    background: #f2f2f2;
    position: absolute;
    z-index: -2;
    margin-top: 0;
    /* top: 0; */
    left: 0;
}

.galeria {
    overflow: hidden;
}

.galeria .foto {
    width: 33%;
    float: left;
}

.galeria .foto img {
    vertical-align: top;
    width: 100%;
    opacity: .7;
}

.galeria .foto img:hover {
    opacity: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


/* Clients */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #f2f2f2;
    /* background: #8632b89d; */
    background: -webkit-linear-gradient(to right, hsla(286, 96%, 33%, 0.781), hsla(286, 97%, 27%, 0.664));
    display: flex;
    width: 46%;
    height: 240px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0 0 6px 0 rgba(179, 123, 167, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 100%;
    color: #000;
    margin-bottom: 60px;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

@media screen and (max-width: 1198px) {
    header {
        height: 250px;
    }
    .fondo {
        height: 500px;
    }
}

@media screen and (max-width: 993px) {
    .titulo {
        margin-top: 20px;
        font-size: 25px;
    }
    header {
        height: 240px;
    }
    .contenedor-sobre-nosotros {
        display: block;
        /* justify-content: none; */
    }
    .imagen-about-us {
        /* width: 48%; */
        display: none;
    }
    .sobre-nosotros .contenido-textos {
        width: 100%;
    }
    .fondo {
        height: 400px;
    }
    .cards .card {
        width: 46%;
        height: 290px;
    }
    footer {
        /* text-align: center; */
        color: black;
    }
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }
    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos {
        width: 90%;
    }
    .imagen-about-us {
        width: 90%;
    }
    /* Galeria */
    .imagen-port {
        width: 44%;
    }
    /* Clientes */
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card {
        width: 80%;
    }
    .cards .card:first-child {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:776px) {
    .galeria .foto {
        width: 50%;
    }
    .fondo {
        height: 680px;
    }
}

@media screen and (max-width:755px) {
    .galeria .foto {
        width: 50%;
    }
    .fondo {
        height: 540px;
    }
    .cards .card {
        width: 100%;
        height: 290px;
    }
}

@media screen and (max-width:404px) {
    .titulo {
        text-align: center;
        margin-left: 0;
    }
    .galeria .foto {
        width: 50%;
    }
    .fondo {
        height: 460px;
    }
    .cards .card {
        width: 100%;
        height: 290px;
    }
}