.formC {
    margin: 0 auto 10px auto;
    font-weight: 400;
}

.contor {
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(73, 139, 170, 0.582);
    background: linear-gradient(to right, hsla(0, 0%, 97%, 0.781), hsla(206, 29%, 83%, 0.664));
    border-radius: 1%;
}

.contor1 {
    /* margin: auto 0; */
    box-shadow: 0 0 20px 0 rgba(73, 139, 170, 0.582);
    /* background: rgb(14, 172, 183); */
    background: linear-gradient(to right, hsla(209, 34%, 50%, 0.781), hsla(286, 20%, 43%, 0.664));
    color: #fff;
    transition: background-color 1s ease-out;
}

.interior {
    margin-bottom: 0px;
}

.interior ul {
    list-style: none;
    padding: 0;
}

.cont {
    font-weight: 400;
    margin-bottom: 10px;
}

.borI {
    padding: 10px;
}

.form-group input {
    border-radius: 30px;
    /* background-color: #c2c2c2; */
    background: linear-gradient(to right, hsla(285, 5%, 83%, 0.781), hsla(194, 69%, 76%, 0.664));
}

.form-group textarea {
    background: linear-gradient(to right, hsla(285, 5%, 83%, 0.781), hsla(194, 69%, 76%, 0.664));
    /* background-color: #c2c2c2; */
}

.form-group button {
    margin-top: 15px;
    border-radius: 30px;
}

@media(max-width: 730px) {
    .formC {
        margin: 20px auto;
        font-size: 35px;
    }
}

@media(max-width: 500px) {
    .formC {
        font-size: 27px;
    }
}

@media(max-width: 404px) {
    .formC {
        margin: 15px auto;
        font-size: 25px;
    }
}