body {
    font-family: 'open sans';
    background: none;
}

header {
    width: 100%;
    height: 300px;
    /* background: #6e1fa3; */
    background: #840094;
    background: -webkit-linear-gradient(to right, hsla(286, 96%, 33%, 0.781), hsla(286, 97%, 27%, 0.664));
    background: linear-gradient(to right, hsla(286, 96%, 33%, 0.781), hsla(286, 97%, 27%, 0.664));
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    margin-top: 0;
    top: 0;
    left: 0;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contor {
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(73, 139, 170, 0.582);
    background: linear-gradient(to right, hsla(0, 0%, 97%, 0.781), hsla(206, 29%, 83%, 0.664));
    border-radius: 1%;
}