.arribaR {
    margin-left: 20px;
    margin-top: 10px;
}

.enlace {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.enlace a {
    font-size: 15px;
    color: #ababab;
}

.enlace a:hover {
    background-color: #fff;
    color: #1b9bff;
    text-decoration: none;
}

.arribaR h6 {
    font-size: 15px;
    color: cornflowerblue;
    font-weight: 600;
}

.bienvenido {
    font-weight: 600;
    font-style: initial;
}

.imgUser {
    width: 100px;
    height: 100px;
    margin: 0 100px;
}

.arribaR img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
    border-radius: 30px;
    background-color: #f2f2f2;
}

.registrar {
    border-radius: 30px;
}

.condiciones {
    font-size: 12px;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
}