* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background: none;
}

nav ul li a {
    color: #000;
}


/* Header */

header {
    width: 100%;
    height: 270px;
    /* background: #6e1fa3; */
    background: #840094;
    background: -webkit-linear-gradient(to right, hsla(286, 96%, 33%, 0.781), hsla(286, 97%, 27%, 0.664));
    background: linear-gradient(to right, hsla(286, 96%, 33%, 0.781), hsla(286, 97%, 27%, 0.664));
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    margin-top: 0;
    top: 0;
    left: 0;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.titulo1 {
    margin-top: 20px;
    color: #642a73;
    /* font-size: 30px;
    text-align: center;
    margin-bottom: 60px; */
    font-weight: 600;
    /* font-style: italic; */
}

.fa {
    color: black;
}

.card {
    /* opacity: 1; */
    /* position: relative; */
    box-shadow: 0 0 20px 0 rgba(73, 139, 170, 0.582);
    background: linear-gradient(to right, hsla(0, 0%, 97%, 0.781), hsla(206, 29%, 83%, 0.664));
}

.card img:hover {
    opacity: 0.3;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.card h2 {
    position: absolute;
    margin-top: 18%;
    margin-left: 33.3%;
    color: rgb(60, 105, 105);
    opacity: 0.4;
}


/* .card h2 {
    position: absolute;
    display: flexbox;
    color: rgb(60, 61, 61);
    margin-left: 33.3%;
    margin-top: 18%;
    box-shadow: 0 0 20px 0 rgba(73, 139, 170, 0.582);
    background: linear-gradient(to right, hsla(0, 0%, 97%, 0.781), hsla(206, 29%, 83%, 0.664));
    border-radius: 2%;
    opacity: 0;
} */


/* .card h2:hover {
    opacity: 0.8;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
} */

@media screen and (max-width: 1196px) {
    .titulo1 {
        margin-top: 45px;
        /* font-size: 40px;
        margin-bottom: 0; */
    }
    header {
        height: 240px;
    }
}

@media screen and (max-width: 993px) {
    .titulo1 {
        margin-top: 30px;
        font-size: 40px;
        margin-bottom: 0;
    }
    header {
        height: 230px;
    }
    footer {
        color: black;
    }
}

@media screen and (max-width:530px) {
    .titulo1 {
        margin-top: 50px;
        font-size: 30px;
    }
}