<header>
        <div class="wave" style="height: 220px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
</header>
<link rel="stylesheet" href="/css/about.css">



<div class="row">
    <div class="col text-center">
        <hr>
        <h3>Adminitración de Información</h3>
        <hr>
    </div>
</div>

<div class="row mb-4">
<div class="col-md-3">
    <img src="{{user.photo}}" class="card-img" alt="...">
</div>

<div class="col-md-9">
    <p class="float-right"><small class="text-muted">{{now}}</small></p>
    {{!-- <p class="float-right"><small class="text-muted">{{user.date}}</small></p> --}}
    <h5 class="mt-4 card-title"> <b> Bienvenido, {{user.name}} {{user.username}} </b> </h5>

    <p style="text-align: justify;">En esta sección estará toda la información de los datos de los juegos creados y los correos que las personas interesadas dejaron, para los juegos podrás, crear, editar y eliminar la información, para los correos si son muchos los puedes eliminar.</p>

     <a style="width: 50%;" class="btn btn-outline-primary btn-lg float-left" href="/games/add" role="button">Añadir Juegos</a>
     <a style="width: 50%;" class="btn btn-outline-success btn-lg float-right" href="/emails" role="button">Ver Correos</a>
</div>

  
</div>

<div class="row mb-2">
    <div class="col text-center">
        <hr>
        <h3>Juegos disponibles</h3>
        <hr>
    </div>
</div>

<div class="row">
    {{#each games}}
        <div class="col-md-3">
            <div class="card">
                    <img src= {{photo}} alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                         {{title}}
                         <a href="/games/edit/{{_id}}">
                             <i class="fa fa-edit"></i>
                         </a>
                    </h4>
                    <p>{{enlace}}</p>
                    <p style="text-align: justify;">
                     {{{description}}}
                    </p>
                    <form action="/games/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-outline-danger btn-block" type="submit">
                            Eliminar
                        </button>
                    </form>
                    <hr>
                    <h6>
                     {{date}}
                    </h6>
                </div>
            </div>
        </div>

        {{else}}
                <div class="card mx-auto">
                    <div class="card-body">
                        <p class="lead">
                            Aun no tienes Juegos, agregalas!
                        </p>
                        <a href="/notes/add" class="btn btn-outline-success btn-block">
                            Crear nota
                        </a>
                    </div>
                </div>
    {{/each}}
</div>