<link rel="stylesheet" href="/css/signup.css">


<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-auto">
        <div class="card">
            <div class="enlace">
                    <a href="/">- Regresar</a>
                </div>
            <div class="arribaR">
                <h6 class="txt">Nuevo usuario</h6>
                <h3 class="bienvenido">Crear un cuenta</h3>
                <img src="/assets/user.svg" alt="" class="imgUser">
            </div>
             <div class="card-body">
                    <form action="/users/signup" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Nombre" class="form-control" value="{{name}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" class="form-control" value="{{email}}">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control" value="{{password}}">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm_password" placeholder="Comfirmar Contraseña" class="form-control" value="{{confirm_password}}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-success btn-block registrar">
                                Registrate
                            </button>
                        </div>
                    </form>
                        <p class="condiciones text-center">
                            Al crear tu cuenta también aceptas nuestros terminos y condiciones.
                        </p>
            </div>
        </div>
    </div>
</div>